@charset "UTF-8";
/* HEADER */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
header h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0px;
  display: flex;
  height: 40px;
  padding: 14px 89px 13px 89px;
  justify-content: center;
  align-items: center;
  background: var(--white, #FFF);
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

/* LOCALISATION */
.location {
  background: #EAEAEA;
  border: none;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  flex-shrink: 0;
  padding-left: 60px;
}

.fa-solid.fa-solid {
  color: #353535; /* couleur icone localisation */
}

input {
  border: none;
  background-color: #EAEAEA;
  display: flex;
  font-size: 16px;
}

/*FOOTER*/
footer {
  background: var(--grey, #353535);
  display: flex;
  padding: 22px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media (min-width: 768px) {
  footer {
    width: 1440px;
  }
}

@media (min-width: 768px) {
  .footer-container {
    display: flex;
  }
}

.footer-title {
  font-family: "shrikhand", sans-serif;
  width: 139px;
  height: 27px;
  flex-shrink: 0;
  color: var(--white, #FFF);
  font-size: 18px;
  font-weight: 400;
  margin-left: 0px;
}
@media (min-width: 768px) {
  .footer-title {
    order: 1;
    margin-left: 75px;
  }
}

.footer-list {
  font-family: "Roboto";
  font-weight: 500;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  padding-left: 0px;
}
@media (min-width: 768px) {
  .footer-list {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    font-weight: 500;
    gap: 35px;
  }
}

.footer-list a {
  text-decoration: none;
  color: var(--white, #FFF);
}

/*icones*/
.fa-solid.fa-utensils,
.fa-solid.fa-handshake-angle {
  color: var(--white, #FFF);
}

/* Section Explorer */
.explorer {
  text-align: center;
  background-color: #F6F6F6;
}

.explorer h2 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-top: 40px;
  margin: 0px 58px;
}

.explorer p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
}

/* Bouton Gradient */
.btn-gradient {
  width: 218px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  background: var(--button-gradient, linear-gradient(175deg, #FF79DA 0%, #9356DC 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  outline: none;
}

.btn-gradient:hover {
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/*SECTION FONCTIONNEMENT*/
.functioning {
  padding-bottom: 30px;
  text-align: center;
  margin: 0 auto;
  max-width: 1280px; /* Ajustez cette valeur en fonction de la largeur maximale souhaitée */
}
@media (min-width: 768px) {
  .functioning {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
  }
}
.functioning-title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .functioning ol {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33%;
    height: 72.379px;
    gap: 29px;
  }
}
.functioning-section li {
  color: #000;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex-wrap: nowrap;
}
.functioning .step-1,
.functioning .step-2,
.functioning .step-3 {
  font-family: "Roboto";
  width: 90%;
  height: 72.379px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  /* Cible les icônes font-awesome au survol */
}
.functioning .step-1 span,
.functioning .step-2 span,
.functioning .step-3 span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  color: #ffffff;
  border-radius: 15px;
  width: 24px;
  height: 25px;
  position: relative;
  right: 30px;
}
.functioning .step-1 .fa-solid.fa-mobile-screen-button,
.functioning .step-1 .fa-solid.fa-list-ul,
.functioning .step-1 .fa-solid.fa-store,
.functioning .step-2 .fa-solid.fa-mobile-screen-button,
.functioning .step-2 .fa-solid.fa-list-ul,
.functioning .step-2 .fa-solid.fa-store,
.functioning .step-3 .fa-solid.fa-mobile-screen-button,
.functioning .step-3 .fa-solid.fa-list-ul,
.functioning .step-3 .fa-solid.fa-store {
  color: #7E7E7E;
  padding: 15px;
  margin-left: -25px;
}
.functioning .step-1 .fa-solid.fa-mobile-screen-button:hover,
.functioning .step-1 .fa-solid.fa-list-ul:hover,
.functioning .step-1 .fa-solid.fa-store:hover,
.functioning .step-2 .fa-solid.fa-mobile-screen-button:hover,
.functioning .step-2 .fa-solid.fa-list-ul:hover,
.functioning .step-2 .fa-solid.fa-store:hover,
.functioning .step-3 .fa-solid.fa-mobile-screen-button:hover,
.functioning .step-3 .fa-solid.fa-list-ul:hover,
.functioning .step-3 .fa-solid.fa-store:hover {
  color: #9356DC; /* Changement de couleur au survol */
}
@media (min-width: 768px) {
  .functioning .step-1,
  .functioning .step-2,
  .functioning .step-3 {
    flex-wrap: nowrap;
  }
}

/*SECTION RESTAUTANT*/
.restaurant-section {
  background: var(--background, #F6F6F6);
  text-decoration: none;
  padding: 0 18px 75px 18px;
}
@media (min-width: 768px) {
  .restaurant-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
  }
}
.restaurant-section a {
  text-decoration: none; /* Supprime la soulignement */
  outline: none; /* Supprime la bordure de focus */
  color: inherit; /* Utilise la couleur du texte environnant */
}
.restaurant-section .restaurant-title {
  font-family: "Roboto";
  font-size: 24px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}
.restaurant-section .restaurant-cards {
  width: 100%;
  display: flex;
  flex-direction: column; /* Empêche les cartes de s'étirer horizontalement en version mobile */
  gap: 18px; /* Ajoute un espacement (gap) entre les cartes */
}
@media (min-width: 768px) {
  .restaurant-section .restaurant-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}
.restaurant-section .card-menu {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  position: relative; /* Ajout de position relative au conteneur */
}
.restaurant-section .card-menu img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-section .card-badge {
  font-family: "roboto";
  position: absolute; /* Utilisation de position absolute pour le badge */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--green, #99E2D0);
  color: var(--green-font, #008766);
  font-size: 14px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  right: 0.5rem; /* À 0,5rem du bord gauche */
  top: 0.5rem; /* À 0,5rem du bord supérieur */
}
.restaurant-section .card-content {
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 15px 15px;
  padding-left: 15px;
  height: 75px;
}
.restaurant-section .card-content h3 {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 700;
  margin-bottom: -13px;
  margin-top: 12px;
}
.restaurant-section .card-content p {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
}
.restaurant-section .btn-like {
  position: relative;
}
.restaurant-section .fa-regular.fa-heart {
  position: absolute;
  right: 16px;
  bottom: 29px;
  font-size: 27px;
}
.restaurant-section .fa-solid.fa-heart {
  position: absolute;
  right: 16px;
  bottom: 29px;
  font-size: 27px;
  color: transparent;
  transition: all 500ms ease-in-out;
}
.restaurant-section .btn-like:hover .fa-solid.fa-heart {
  background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
  background-clip: text;
  -webkit-background-clip: text;
}

.body-menu-page,
html {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0 auto;
  height: auto;
  background: #f6f6f6;
  min-width: 320px;
}

header,
main {
  display: flex;
  flex-direction: column;
}

.fa-solid.fa-arrow-left {
  position: absolute;
  top: 26px;
  left: 20px;
}

img {
  position: relative;
  top: 0;
  min-width: 100%;
  max-height: 275px;
  width: 100%;
}
@media (min-width: 768px) {
  img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 275px;
    width: 100%;
    z-index: 1;
  }
}

.title {
  font-family: "Shrikhand";
  font-size: 18px;
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 51px 400px 0 353px;
  }
}

.fa-regular.fa-heart {
  position: absolute;
  right: 16px;
  bottom: 29px;
  font-size: 27px;
}
@media (min-width: 768px) {
  .fa-regular.fa-heart {
    position: relative;
    left: 24px;
    bottom: 0;
  }
}

.fa-solid.fa-heart {
  position: absolute;
  right: 16px;
  bottom: 29px;
  font-size: 27px;
  color: transparent;
  transition: all 500ms ease-in-out;
}

.btn-like:hover .fa-solid.fa-heart {
  background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
  background-clip: text;
  -webkit-background-clip: text;
}

.title-menu {
  padding-top: 40px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
@media (min-width: 768px) {
  .title-menu {
    padding-top: 0;
  }
}

.fa-regular.fa-heart {
  position: absolute;
  right: 16px;
  bottom: 29px;
  font-size: 27px;
}

.fa-solid.fa-heart {
  position: absolute;
  right: 16px;
  bottom: 29px;
  font-size: 27px;
  color: transparent;
  transition: all 500ms ease-in-out;
}

.btn-like:hover .fa-solid.fa-heart {
  background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
  background-clip: text;
  -webkit-background-clip: text;
}

.container-menu {
  font-family: "roboto";
  position: relative;
  bottom: 80px;
  border-radius: 15px;
  background: #F6F6F6;
}
@media (min-width: 768px) {
  .container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
  }
}

.menu-item {
  margin: 15px;
  padding: 15px;
  width: 349px;
  height: 40px;
  border-radius: 15.043px;
  background: var(--White, #FFF);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .menu-item {
    width: 634px;
    height: 45px;
  }
}

h4 {
  margin: 0px 0 5px 15px;
  font-size: 18px;
  font-weight: 500;
}
.menu-item > p {
  font-size: 15.043px;
  font-weight: 300;
  margin-top: 5px;
  margin-left: 15px;
  padding-bottom: 2px;
}

.item-price {
  position: relative;
  bottom: 36px;
  left: 326px;
  font-size: 15.043px;
  font-weight: 700;
  color: #353535;
}
@media (min-width: 768px) {
  .item-price {
    left: 600px;
  }
}

.button {
  display: flex;
}
@media (min-width: 768px) {
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btn-gradient {
  margin: 20px 40px 40px 40px;
  width: 218px;
  height: 50px;
  color: white;
  border: none; /* Supprime la bordure par défaut */
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  background: var(--button-gradient, linear-gradient(175deg, #FF79DA 0%, #9356DC 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  outline: none; /* Supprime le contour lorsqu'il est en focus */
}

.btn-gradient:hover {
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/*LOCALISATION*/
.location {
  background: #EAEAEA;
  border: none;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  flex-shrink: 0;
  padding-left: 60px;
}

.location .fa-solid {
  color: #353535; /* Couleur de l'icône de localisation */
}

.location input {
  border: none;
  background-color: #EAEAEA;
  display: flex;
  font-size: 16px;
}

body {
  margin: 0px;
}/*# sourceMappingURL=styles.css.map */