@charset "UTF-8";
/* HEADER */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
header h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0px;
  display: flex;
  height: 40px;
  padding: 14px 89px 13px 89px;
  justify-content: center;
  align-items: center;
  background: var(--white, #FFF);
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  header h1 {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
}

/*FOOTER*/
footer {
  background: var(--grey, #353535);
  display: flex;
  padding: 22px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    align-items: flex-end;
  }
}

@media (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-title {
  font-family: "shrikhand", sans-serif;
  width: 139px;
  height: 27px;
  flex-shrink: 0;
  color: var(--white, #FFF);
  font-size: 18px;
  font-weight: 400;
  margin-left: 0px;
}
@media (min-width: 768px) {
  .footer-title {
    order: 1;
    margin-left: 46px;
    margin-top: 25px;
  }
}

.footer-list {
  font-family: "Roboto";
  font-weight: 500;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  padding-left: 0px;
}
@media (min-width: 768px) {
  .footer-list {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 21px;
    margin-top: 29px;
  }
}

.footer-list a {
  text-decoration: none;
  color: var(--white, #FFF);
}

/*icones*/
.fa-solid.fa-utensils,
.fa-solid.fa-handshake-angle {
  color: var(--white, #FFF);
}

/* Section Explorer */
.explorer {
  text-align: center;
  background-color: #F6F6F6;
}

.explorer h2 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-top: 40px;
  margin: 0px 58px;
}

.explorer p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
}

/* SECTION FONCTIONNEMENT */
.functioning {
  padding-bottom: 30px;
  text-align: center;
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem 1rem;
}
@media (min-width: 1024px) {
  .functioning {
    padding: 0 150px 75px 150px;
  }
}
.functioning-title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 1024px) {
  .functioning ol {
    display: flex;
    width: 31%;
    gap: 24px;
  }
}
.functioning-section li {
  color: #000;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex-wrap: nowrap;
  padding: 24px;
  margin: 16px 0 16px 12px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
.functioning .step-1,
.functioning .step-2,
.functioning .step-3 {
  font-family: "Roboto";
  width: 90%;
  height: 72.379px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  /* Cible les icônes font-awesome au survol */
}
.functioning .step-1 span,
.functioning .step-2 span,
.functioning .step-3 span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  color: #ffffff;
  border-radius: 15px;
  width: 24px;
  height: 25px;
  position: relative;
  right: 30px;
}
.functioning .step-1 .fa-solid.fa-mobile-screen-button,
.functioning .step-1 .fa-solid.fa-list-ul,
.functioning .step-1 .fa-solid.fa-store,
.functioning .step-2 .fa-solid.fa-mobile-screen-button,
.functioning .step-2 .fa-solid.fa-list-ul,
.functioning .step-2 .fa-solid.fa-store,
.functioning .step-3 .fa-solid.fa-mobile-screen-button,
.functioning .step-3 .fa-solid.fa-list-ul,
.functioning .step-3 .fa-solid.fa-store {
  color: #7E7E7E;
  padding: 15px;
  margin-left: -25px;
}
.functioning .step-1 .fa-solid.fa-mobile-screen-button:hover,
.functioning .step-1 .fa-solid.fa-list-ul:hover,
.functioning .step-1 .fa-solid.fa-store:hover,
.functioning .step-2 .fa-solid.fa-mobile-screen-button:hover,
.functioning .step-2 .fa-solid.fa-list-ul:hover,
.functioning .step-2 .fa-solid.fa-store:hover,
.functioning .step-3 .fa-solid.fa-mobile-screen-button:hover,
.functioning .step-3 .fa-solid.fa-list-ul:hover,
.functioning .step-3 .fa-solid.fa-store:hover {
  color: #9356DC;
}

/* SECTION RESTAUTANT */
.restaurant-section {
  background: var(--background, #F6F6F6);
  text-decoration: none;
  padding: 0 18px 75px 18px;
}
@media (min-width: 1024px) {
  .restaurant-section {
    padding: 0 150px 75px 150px;
  }
}

a {
  text-decoration: none;
  outline: none;
  color: inherit; /* Utilise la couleur du texte environnant */
}

.restaurant-title {
  font-family: "Roboto";
  font-size: 24px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.restaurant-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 1024px) {
  .restaurant-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem 5rem;
    padding-bottom: 30px;
  }
}

.restaurant-card {
  margin-bottom: 18px;
}

/* Supprime la marge en bas de la dernière carte */
.restaurant-card:last-child {
  margin-bottom: 0;
}

.card-menu {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  .card-menu {
    margin-top: -15px;
  }
}

.card-menu img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-badge {
  font-family: "roboto";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #99E2D0;
  color: #008766;
  font-size: 14px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  right: 0.5rem;
  top: 0.5rem;
}

.card-content {
  position: relative;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 15px 15px;
  padding-left: 15px;
  height: 75px;
}

.card-content h3 {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 700;
  margin-bottom: -13px;
  margin-top: 12px;
}

.card-content p {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
}

.heart_card {
  position: absolute;
  top: 215px;
  left: 87%;
}

/* Coeur vide dans .heart_card */
.heart_card .heart__icon--empty {
  position: absolute;
  transition: opacity 800ms;
  opacity: 1;
}

/* Coeur rempli dans .heart_card */
.heart_card .heart__icon--full {
  position: absolute;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: opacity 800ms;
}

/* Au survol de .heart_card, progressivement */
.heart_card:hover .heart__icon--empty {
  opacity: 0;
}

.heart_card:hover .heart__icon--full {
  opacity: 1;
}

body, html {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  height: auto;
  background: white;
  min-width: 320px;
}

header, main {
  flex-direction: column;
  align-items: center;
}

.fa-arrow-left {
  position: absolute;
  top: 26px;
  left: 20px;
}

img {
  position: relative;
  top: 0;
  min-width: 100%;
  height: 275px;
  width: 100%;
  display: block;
}
@media (min-width: 768px) {
  img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 471px;
  }
}

.title {
  font-family: "Shrikhand";
  font-size: 18px;
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .title {
    justify-content: center;
  }
}

.title-menu {
  padding-top: 40px;
  margin-left: 15px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  position: relative;
}
@media (min-width: 768px) {
  .title-menu {
    padding-top: 0;
  }
}
.title-menu .heart__icon span {
  position: absolute;
  left: -245px;
  top: 13px;
}

.container-menu {
  background-color: #F6F6F6;
  overflow: hidden;
  border-radius: 30px;
  margin-top: -50px;
  z-index: 20;
  position: relative;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
}
@media (min-width: 768px) {
  .container-menu {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px 40px 0px 0px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .container-menu {
    max-width: 768px;
    margin: 0 auto;
    margin-top: -50px;
  }
}

.menu-item {
  margin: 15px;
  padding: 15px;
  max-width: 90%;
  height: 40px;
  border-radius: 15.043px;
  background: var(--White, #FFF);
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .menu-item {
    width: 634px;
    height: 45px;
  }
}

.menu-item h4,
.menu-item p {
  margin-right: 80px;
  white-space: nowrap;
}

h4 {
  margin: 0 0 5px 15px;
  font-size: 18px;
  font-weight: 500;
  flex: 1;
  white-space: nowrap;
}

.menu-item > p {
  font-size: 15.043px;
  font-weight: 300;
  margin-top: 5px;
  margin-left: 15px;
  padding-bottom: 2px;
  white-space: nowrap;
}

.menu-item > p:hover,
.menu-item > h4:hover {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  transition-duration: 0.5s;
  width: calc(100% - 120px);
}

.item-price {
  position: relative;
  bottom: 36px;
  font-size: 15.043px;
  font-weight: 700;
  color: #353535;
  left: 92%;
  transition: transform 0.5s ease-in-out;
  margin-top: 2px;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .item-price {
    left: 600px;
  }
}

.confirmation {
  position: absolute;
  top: -2px;
  right: 0;
  width: 69px;
  height: 78px;
  background-color: #99E2D0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0.75rem;
  transform: translateX(100%);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.confirmation-icone {
  position: absolute;
  top: 40%;
  right: 25px;
  transform: translateY(-50%) rotate(5deg);
  transition: transform 0.5s ease-in-out;
  color: #F6F6F6;
}

.menu-item:hover .confirmation {
  transform: translateX(0);
  opacity: 1;
  border-right: 3px solid #99E2D0;
}

.menu-item:hover .item-price {
  transform: translateX(-65px);
}

.menu-item:hover .confirmation-icone {
  transform: translateY(0) rotate(360deg);
  transition-duration: 0.5s;
}

.button {
  display: flex;
}
@media (min-width: 768px) {
  .button {
    flex-direction: column;
    align-items: center;
  }
}

.btn-gradient {
  margin: 20px 40px 40px 40px;
  width: 218px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  background: var(--button-gradient, linear-gradient(175deg, #FF79DA 0%, #9356DC 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  outline: none;
}
.btn-gradient:hover {
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/* LOADER */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out, fadeOut 2.5s ease-in-out 0.5s forwards;
  pointer-events: none;
  z-index: 9999;
}

.ball-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 15px;
  animation: bounce 0.5s alternate infinite; /* Alternance infinie */
}

.loader-ball-1 {
  background-color: #9356DC;
  animation-delay: 0.1s;
}

.loader-ball-2 {
  background-color: #FF79DA;
  animation-delay: 0.2s;
}

.loader-ball-3 {
  background-color: #99E2D0;
  animation-delay: 0.3s;
}

/* Apparition */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Disparition */
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes bounce {
  50% {
    transform: translateY(40px);
  }
}
/* COEURS droite des titres */
.heart__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  left: 1%;
  top: -3px;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .heart__icon {
    left: 70%;
    top: 59px;
    position: absolute;
  }
}
@media (min-width: 1024px) {
  .heart__icon {
    left: 548px;
    top: 59px;
    position: absolute;
  }
}

/* Cœur vide */
.heart__icon--empty {
  position: absolute;
}

/* Cœur rempli */
.heart__icon--full {
  position: absolute;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: opacity 800ms;
}

/* Au survol, progressivement */
.heart__icon:hover .heart__icon--full {
  opacity: 1;
}

.heart__icon:hover .heart__icon--empty {
  opacity: 1;
}

/* STYLE POUR ENTRÉE PLAT ET DESSERT */
.menu.entrance.animate-section {
  animation: fade-in 0.4s ease-in-out 0.5s both;
}

.dish {
  animation: fade-in 0.4s ease-in-out 0.7s both;
}

.dessert {
  animation: fade-in 0.4s ease-in-out 0.9s both;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*LOCALISATION*/
.location {
  background: #EAEAEA;
  border: none;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  flex-shrink: 0;
  padding-left: 95px;
}

.location .fa-solid {
  color: #353535;
}

.location input {
  border: none;
  background-color: #EAEAEA;
  display: flex;
  font-size: 16px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btn-gradient {
  margin: 20px 40px 40px 40px;
  width: 218px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  background: var(--button-gradient, linear-gradient(175deg, #FF79DA 0%, #9356DC 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  outline: none;
}

.btn-gradient:hover {
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}/*# sourceMappingURL=styles.css.map */