.body-menu-page {
  
    background-color:white; /* Couleur d'arrière-plan globale */

    padding: 0; /* Supprimez également la marge interne du body */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu horizontalement */
    justify-content: center;
    width: 100%; /* Utilisez toute la largeur de l'écran */

   }



   img {
    position: relative;
    top: 0;
    min-width: 100%;
    max-height: 275px;
    width: 100%;

    /* Utilisez les styles pour les écrans larges (à partir de 768px) */
    @media (min-width: 768px) {
        max-height: 60vh;
        object-fit: cover;
        object-position: center center; /* Centrez l'image horizontalement et verticalement */
    }
}


.title{
    font-family: "Shrikhand";
    font-size: 18px;
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 51px 400px 0 353px;
    }

}

.fa-regular.fa-heart {
    position: absolute; 
    right: 16px; 
    bottom: 29px;
    font-size: 27px;
     @media (min-width: 768px) {
        position:relative;
        left: 24px;
        bottom: 0;
    }

}

.fa-solid.fa-heart {
    position: absolute; 
    right: 16px;
    bottom: 29px;
    font-size: 27px;
    color: transparent;
    transition: all 500ms ease-in-out;

}


.btn-like:hover .fa-solid.fa-heart{
    
    background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    
 }


.title-menu{

    padding-top: 40px;
    font-weight: 300;
    border-bottom: 3px solid $tertiary ;
    width: 40px;
    @media (min-width:768px) {
        padding-top: 0;
    }
    
}
.fa-regular.fa-heart {
    position: absolute; 
    right: 16px; 
    bottom: 29px;
    font-size: 27px;
}

.fa-solid.fa-heart {
    position: absolute; 
    right: 16px;
    bottom: 29px;
    font-size: 27px;
    color: transparent;
    transition: all 500ms ease-in-out;
    
}


.btn-like:hover .fa-solid.fa-heart{
    
    background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    
   

 }

.container-menu { 


    font-family:"roboto";
   position: relative;
    bottom:80px;
    border-radius: 15px;
    background: #F6F6F6;
    @media (min-width:768px) {
        width: 1055px;
        height: 1221px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}   

.menu-item{
  margin: 15px;
  padding: 15px;
width: 349px;
height: 40px;

border-radius: 15.043px;
background: var(--White, #FFF);
box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
@media (min-width:768px) {
  width: 634px;
  height: 45px;
}

}

h4 {
    
    margin: 0px 0 5px 15px;
    font-size: 18px;
    font-weight: 500;
    @media (min-width:768px) {
        
    }

}

.menu-item>p{

font-size: 15.043px;
font-weight: 300;
margin-top: 5px;
margin-left: 15px;
padding-bottom: 2px;

}

.item-price{
    position: relative;
    bottom: 36px;
    left: 326px;
    font-size: 15.043px;
    font-weight: 700;
    color: #353535;
    @media (min-width:768px) {
        left: 600px;
    }
    }

   .menu-Item__confirmation {
        background-color: $tertiary;
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        display:flex;
        align-items:center;
        justify-content:center;
        transition-duration: 0.5s;
      }
    
      .menu-Item__confirmation:hover {
        margin-right: -1rem;
      }
    .menu-Item__wrapIcon {
        height: 1.6rem;
        width: 1.6rem;
        background-color: white;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: 0.5s;
    
      }
    
      .menu-Item__confirmation:hover  {
        transform: rotate(0);
      }
    
      .menu-Item__icon {
        color: $color-tertiary;
      }
    
    
    @for $i from 0 to 9 {
      .delay-#{$i} {
        animation-delay:  #{$i/10}s;
      }
    }

.button{
display: flex;

@media (min-width:768px) {

    display: flex;
    flex-direction: column;
    align-items: center;
}
}

.btn-gradient {
 margin:20px 40px 40px 40px;
    width: 218px;
    height: 50px;
    color: white;
    border: none; /* Supprime la bordure par défaut */
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    background: var(--button-gradient, linear-gradient(175deg, #FF79DA 0%, #9356DC 100%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);  
    outline: none; /* Supprime le contour lorsqu'il est en focus */
 }

.btn-gradient:hover{
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #FF79DA 0%, #9356DC 100%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}