
body, html {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    height: auto;
    background: white;
    min-width: 320px;
}


header, main {
    flex-direction: column;
    align-items: center;
}


.fa-arrow-left {
    position: absolute;
    top: 26px;
    left: 20px;
}
 

img {
    position: relative;
    top: 0;
    min-width: 100%;
    height: 275px;
    width: 100%;
    display: block;

    @media (min-width: 768px) {
        object-fit: cover;
        height: 471px;
    }
}

.title {
    font-family: "Shrikhand";
    font-size: 18px;
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 768px) {
        justify-content: center;
    }
}


.title-menu {
    padding-top: 40px;
    margin-left: 15px;
    font-weight: 300;
    border-bottom: 3px solid $tertiary;
    width: 40px;
    position: relative;

    @media (min-width: 768px) {
        padding-top: 0;
    }

    .heart__icon span {
        position: absolute;
        left: -245px;
        top: 13px;
    }
}


.container-menu {
    background-color: #F6F6F6;
    overflow: hidden;
    border-radius: 30px;
    margin-top: -50px;
    z-index: 20;
    position: relative;
    width: 100%;
    border-radius: 40px 40px 0px 0px;

    @media (min-width: 768px) {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 40px 40px 0px 0px;

        @media (min-width: 1024px) {
            max-width: 768px;
            margin: 0 auto;
            margin-top: -50px;
        }
    }
}

.menu-item {
    margin: 15px;
    padding: 15px;
    max-width: 90%;
    height: 40px;
    border-radius: 15.043px;
    background: var(--White, #FFF);
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);

    @media (min-width:768px) {
        width: 634px;
        height: 45px;
    }
}
.menu-item h4,
.menu-item p {
    margin-right: 80px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}



h4 {
    margin: 0 0 5px 15px;
    font-size: 18px;
    font-weight: 500;
    flex: 1; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-item > p {
    font-size: 15.043px;
    font-weight: 300;
    margin-top: 5px;
    margin-left: 15px;
    padding-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-price {
    position: relative;
    bottom: 36px;
    font-size: 15.043px;
    font-weight: 700;
    color: #353535;
    left: 92%;
    transition: transform 0.5s ease-in-out;
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;

    @media (min-width:768px) {
        left: 600px;
    }
}


.confirmation {
    position: absolute;
    top: -2px;
    right: 0;
    width: 69px;
    height: 78px;
    background-color: $tertiary;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.75rem;
    transform: translateX(100%);
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    text-overflow: ellipsis;

}

.confirmation-icone {
    position: absolute;
    top: 40%;
    right: 25px;
    transform: translateY(-50%) rotate(5deg);
    transition: transform 0.5s ease-in-out;
    color: #F6F6F6;
}


.menu-item:hover .confirmation {
    transform: translateX(0);
    opacity: 1;
    border-right: 3px solid $tertiary;
}

.menu-item:hover .item-price {
    transform: translateX(-65px);
}

.menu-item:hover .confirmation-icone {
    transform: translateY(0) rotate(360deg);
    transition-duration: 0.5s;
}


.button {
    display: flex;

    @media (min-width:768px) {
        flex-direction: column;
        align-items: center;
    }
}

.btn-gradient {
    margin: 20px 40px 40px 40px;
    width: 218px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    background: var(--button-gradient, linear-gradient(175deg, #FF79DA 0%, #9356DC 100%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    outline: none;

    &:hover {
        border-radius: 25px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #FF79DA 0%, #9356DC 100%);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);

    }
}

