body,
html{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    height: auto;
    background: white;
    min-width: 320px;
}




   header,
   main{
    display: flex;
    flex-direction: column;
    align-items: center;
   } 

.fa-arrow-left { 
    position: absolute;
    top: 26px;
    left: 20px
}

   img {
    position: relative;
    top: 0;
    min-width: 100%;
    max-height: 275px;
    width: 100%;

    @media (min-width: 768px) {
        object-fit: cover;
        height: 275px;
        width: 100%;
 
    }
}


.title {
    font-family: "Shrikhand";
    font-size: 18px;
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 51px 400px 0 353px;
    }

}


.title-menu {

    padding-top: 40px;
    margin-left:15px ;
    font-weight: 300;
    border-bottom: 3px solid $tertiary ;
    width: 40px;
    
    @media (min-width:768px) {
        padding-top: 0;
    }
    
}


.container-menu { 

    font-family:"roboto";
    position: relative;
    bottom:80px;
    border-radius: 15px;
    background: #F6F6F6;
    @media (min-width:768px) {
        width: 1055px;
        height: 1137px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
    }
}   

.menu-item {
    margin: 15px;
    padding: 15px;
    width: 349px;
    height: 40px;

    border-radius: 15.043px;
    background: var(--White, #FFF);
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
@media (min-width:768px) {
        width: 634px;
        height: 45px;
    }
}

h4 {

    margin: 0px 0 5px 15px;
    font-size: 18px;
    font-weight: 500;
    @media (min-width:768px) {
        
    }
}

.menu-item>p {

    font-size: 15.043px;
    font-weight: 300;
    margin-top: 5px;
    margin-left: 15px;
    padding-bottom: 2px;
}

.item-price {
    position: relative;
    bottom: 36px;
    left: 326px;
    font-size: 15.043px;
    font-weight: 700;
    color: #353535;
    @media (min-width:768px) {
        left: 600px;
    }
}

.item-price {
    position: relative;
    bottom: 36px;
    left: 326px;
    font-size: 15.043px;
    font-weight: 700;
    color: #353535;
    @media (min-width:768px) {
        left: 600px;
    }
}

.menu-item {
    /* Vos styles actuels pour .menu-item */
    position: relative;
    overflow: hidden;
}

.item-price {
    transition: transform 0.3s ease-in-out;
}

.confirmation {
    position: absolute;
    top: -2px;
    right: 0px;
    width: 69px;
    height: 78px;
    background-color: $tertiary;
    border-top-right-radius: 0; /* Pas de bord arrondi en haut à droite */
    border-bottom-right-radius: 0.75rem; /* Bord arrondi en bas à droite */
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1;
}
.confirmation-icone {
    position: absolute;
    top: 40%; /* Positionnez verticalement au centre */
    right: 25px; /* Ajustez la valeur pour le positionnement horizontal */
    transform: translateY(-50%) rotate(5deg); /* Légère rotation et déplacement vers le bas */
    transition: transform 0.3s ease-in-out;
    color: #F6F6F6;
}


.menu-item:hover .confirmation {
    transform: translateX(0);
    opacity: 1;
    border-right: 3px solid $tertiary;
    
}

.menu-item:hover .item-price {
    transform: translateX(-65px);
}

.menu-item:hover .confirmation-icone {
    transform: translateY(0) rotate(0deg); /* Annulez la rotation et le déplacement au survol */
}


/* animation*/











.button {
    display: flex;

@media (min-width:768px) {

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.btn-gradient {

    margin:20px 40px 40px 40px;
    width: 218px;
    height: 50px;
    color: white;
    border: none; /* Supprime la bordure par défaut */
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    background: var(--button-gradient, linear-gradient(175deg, #FF79DA 0%, #9356DC 100%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);  
    outline: none; /* Supprime le contour lorsqu'il est en focus */
 }

.btn-gradient:hover {

    border-radius: 25px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #FF79DA 0%, #9356DC 100%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}