
/*LOADER*/
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out, fadeOut 2.5s ease-in-out 0.5s forwards;
    pointer-events: none; 
    z-index: 9999;
}


.ball-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-ball {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    animation: bounce 0.5s alternate infinite;
}

.loader-ball-1 {
    background-color: #9356DC;
    animation-delay: 0.1s;
}

.loader-ball-2 {
    background-color: #FF79DA;
    animation-delay: 0.2s;
}

.loader-ball-3 {
    background-color: #99E2D0;
    animation-delay: 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/*page  de menu qui arrive progressivement*/


/*COEURS*/


.heart__icon {
   
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    left: 340px;
    top: 54px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
  @media (min-width:768px) {
    left: 283px;
    top: -30px;
    position: relative;

  
  }
  @media (min-width:1024px) {
    left: 283px;
    top: -30px;
    position: relative;

    }
  }



/* cœur vide */
.heart__icon--empty {
position: absolute;

}

/* cœur rempli */
.heart__icon--full {
position: absolute;
opacity: 0;
background: linear-gradient($cd-btn-start, $cd-btn-end);
background-clip: text;
color: transparent;
transition: opacity 800ms ; 
}  

/* Au survol, progressivement */
.heart__icon:hover .heart__icon--full {
opacity: 1;
}

.heart__icon:hover .heart__icon--empty {
opacity: 1;
}

@mixin heart-icon-hover {
    &:hover {
        .heart__icon--full {
            opacity: 1;
        }
        
        .heart__icon--empty {
            opacity: 0;
        }
    }
}

