/* LOADER */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out, fadeOut 2.5s ease-in-out 0.5s forwards;
    pointer-events: none;
    z-index: 9999;
}

.ball-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-ball {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 15px;
    animation: bounce 0.5s alternate infinite; /* Alternance infinie */
}

.loader-ball-1 {
    background-color: $primary;
    animation-delay: 0.1s;
}

.loader-ball-2 {
    background-color: $secondary;
    animation-delay: 0.2s;
}

.loader-ball-3 {
    background-color: $tertiary; 
    animation-delay: 0.3s;
}

/* Apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Disparition */
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes bounce {
    50% {
        transform: translateY(40px);
    }
}

/* COEURS droite des titres */
.heart__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    left: 1%;
    top: -3px;
    transform: translate(-50%, -50%);
    
    @media (min-width: 768px) {
        left: 70%;
        top: 59px;
        position: absolute;
    }
  
    @media (min-width: 1024px) {
        left: 548px;
        top: 59px;
        position: absolute;
    }
}

/* Cœur vide */
.heart__icon--empty {
    position: absolute;
}

/* Cœur rempli */
.heart__icon--full {
    position: absolute;
    opacity: 0;
    background: linear-gradient($cd-btn-start, $cd-btn-end);
    background-clip: text;
    color: transparent;
    transition: opacity 800ms; /* progressivement visible au cours de ces 800 millisecondes*/
}

/* Au survol, progressivement */
.heart__icon:hover .heart__icon--full {
    opacity: 1;
}

.heart__icon:hover .heart__icon--empty {
    opacity: 1;
}




/* STYLE POUR ENTRÉE PLAT ET DESSERT */
.menu.entrance.animate-section {
    animation: fade-in 0.4s ease-in-out 0.5s both; /*acceleration graduelle du début à la fin*/
}

.dish {
    animation: fade-in 0.4s ease-in-out 0.7s both; 
}

.dessert {
    animation: fade-in 0.4s ease-in-out 0.9s both;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0); /*place unitial*/
    }
}



.confirmation {
    position: absolute;
    top: -2px;
    right: 0;
    width: 69px;
    height: 78px;
    background-color: $tertiary;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.75rem;
    transform: translateX(100%);
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    text-overflow: ellipsis;

}

.confirmation-icone {
    position: absolute;
    top: 40%;
    right: 25px;
    transform: translateY(-50%) rotate(5deg);
    transition: transform 0.5s ease-in-out;
    color: #F6F6F6;
}


.menu-item:hover .confirmation {
    transform: translateX(0);
    opacity: 1;
    border-right: 3px solid $tertiary;
}

.menu-item:hover .item-price {
    transform: translateX(-65px);
}

.menu-item:hover .confirmation-icone {
    transform: translateY(0) rotate(360deg);
    transition-duration: 0.5s;
}