/* Votre CSS existant */

/* Ajoutez ceci pour le loader */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 0.5s ease-in-out, fadeOut 2.5s ease-in-out 0.5s forwards;
    pointer-events: none; /* Ajoutez cette ligne */
}


.ball-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    animation: bounce 0.5s alternate infinite;
}

.loader-ball-1 {
    background-color: #9356DC;
    animation-delay: 0.1s;
}

.loader-ball-2 {
    background-color: #FF79DA;
    animation-delay: 0.2s;
}

.loader-ball-3 {
    background-color: #99E2D0;
    animation-delay: 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/*page  de menu qui arrievent progressivement*/

/* Animation d'entrée pour chaque groupe de menu */
.menu-group {
    opacity: 0;
    animation: fadeInGroup 0.5s ease-in-out forwards;
}

/* Décalage entre les groupes */
.entrance {
    animation-delay: 3s;
}

.main-course.entrance {
    animation-delay: 6s; /* Décalage pour le groupe de plats */
}

.dessert.entrance {
    animation-delay: 9s; /* Décalage pour le groupe de desserts */
}

/* Animation de fade-in pour chaque élément du menu */
.menu-item {
    animation: fadeInSection 0.5s ease-in-out forwards;
}

/* Animation d'entrée pour le groupe de menu */
@keyframes fadeInGroup {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/* coeurs*/
// Animation au survol, progressivement
@mixin heart-icon-hover {
    &:hover {
        .heart__icon--full {
            opacity: 1;
        }
        
        .heart__icon--empty {
            opacity: 0;
        }
    }
}
